Source: libsignelf1
Priority: optional
Maintainer: Release Manager <release.manager@Linspire.com>
Build-Depends: debhelper (>> 4.0.0), exuberant-ctags, libssl-dev, openssl
Standards-Version: 3.5.9

Package: libsignelf1-dev
Section: devel
Architecture: any
Depends: libsignelf1 (= ${Source-Version})
Provides: libsignelf1-dev
Conflicts: libsignelf1-dev
Description: CNR support dev library
 Common headers for signing elf binaries.

Package: libsignelf1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CNR support library
 Common library and signer for signing elf binaries.

